* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
}

button {
  height: 4rem;
  width: 4rem;
  border: 1px solid black;
  font-size: 2rem;
  padding: 4px;
}

p {
  text-align: right;
}

.calculator {
  max-width: fit-content;
}

.row {
  display: flex;
}

#display {
  height: 5rem;
  max-width: 100%;
  border: 1px solid slateblue;
  background-color: rgb(156, 187, 187);
  font-size: 4rem;
}

#clear {
  grid-column: span 2;
}